---
layout: default
nav: dashboard
title: "Dashboard"
---
{% comment %}
{% include alert.html headline="New Results Available" text="Please review and let us know if you have questions." hasSwitch=false %}
{% endcomment %}
<div class="bg-white shadow rounded-lg mb-5">
  <div class="px-4 py-5 sm:p-6 sm:pb-0">
  <div class="flex items-center text-sm text-gray-500">
    <h2 class="text-xl font-bold text-gray-900 mr-2">New Results</h2>
    March 7, 2022
  </div>
  <p>Results range</p>
  </div>
  {% include result-summary.html %}
</div>





