<div class="pt-3 pb-4">
  <fieldset>
  <legend class="block text-lg leading-tight font-bold text-gray-700 mb-2">{{ include.name }}</legend>
  <div class="{% if include.columns %}grid grid-cols-{{ include.columns}} gap-2{% else %}space-y-2 {% endif %}">
    {% assign options = include.options | split: "," %}
    {% for option in options %}
    <div class="relative flex items-start cursor-pointer border rounded-md focus:outline-none hover:ring-2 ring-buttonColor">
      <div class="flex items-center h-5 my-3 ml-3">
        <input id="{{ option | slugify }}" name="{{ option | slugify }}" type="checkbox" class="focus:ring-buttonColor h-4 w-4 text-buttonColor border-gray-300 rounded">
      </div>
      <div class="w-full text-sm">
        <label for="{{ option | slugify }}" class="block py-3 px-3 text-gray-700 leading-tight">{{ option }}</label>
      </div>
    </div>
    {% endfor %}
  </div>
</fieldset>
</div>